<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible"
		  content="IE=edge"/>
	<meta name="viewport"
		  content="width=device-width,initial-scale=1.0"/>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap"
		  rel="stylesheet">
	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
		  integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
		  crossorigin="anonymous"/>
	<%- include('webpack') %>
	<title><%= pageTitle %> | <%= metadata.title %></title>
</head>
<body>
<nav class="navbar">
	<a href="/"
	   class="navbar__brand">Christian LeVesque</a>
	<button id="toggler"
			class="navbar__toggle">
		<i id="toggler-icon"
		   class="fas fa-bars"></i>
	</button>
	<ul id="main-menu"
		class="navbar__link-container">
		<% for (let link of metadata.links) { %>
			<li class="navbar__link">
				<a class="navbar__link-text"
				   href="<%= link.href %>"><%= link.name %></a>
			</li>
		<% } %>
	</ul>
</nav>

<div class="main-content">
	<main>
		<%- content %>
	</main>
	<aside>
		<div>
			<a class="ad"
			   href="https://www.vultr.com/?ref=8506759-6G"><img src="https://www.vultr.com/media/banners/banner_628x628.png"></a>
		</div>
	</aside>
</div>

<footer class="footer footer--primary">
	&copy;2020 Christian LeVesque. All rights reserved.
</footer>
</body>
</html>