<!DOCTYPE html>
<html lang="en"
	  class="w-100 mw-100 min-vh-100">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible"
		  content="IE=edge"/>
	<meta name="viewport"
		  content="width=device-width,initial-scale=1.0"/>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap"
		  rel="stylesheet">
	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
		  integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
		  crossorigin="anonymous"/>
	<%- include('webpack') %>
	<title><%= pageTitle %> | <%= metadata.title %></title>
</head>
<body class="d-flex flex-column w-100 mw-100 min-vh-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
	<a href="/"
	   class="navbar-brand">Christian LeVesque</a>
	<button id="toggler"
			class="navbar-toggler">
		<i id="toggler-icon"
		   class="fas fa-bars"></i>
	</button>
	<div id="main-menu"
		 class="collapse navbar-collapse">
		<ul class="navbar-nav ml-auto">
			<% for (let link of metadata.links) { %>
				<li class="nav-item">
					<a class="nav-link text-right"
					   href="<%= link.href %>"><%= link.name %></a>
				</li>
			<% } %>
		</ul>
	</div>
</nav>

<div class="w-90 container-fluid mx-auto d-flex flex-column flex-grow-1 my-5">
	<div class="row">
		<main class="col-12 col-lg-7">
			<div class="row">
				<% if (page.url !== "/") { %>
					<h1 class="my-4 col-12"><%- pageTitle %></h1>
				<% } %>
				<%- content %>
			</div>
		</main>
		<aside class="col-12 col-lg-3 offset-lg-2 mt-5 mt-lg-0">
			<div class="mb-5">
				<a class="ad"
				   href="https://www.vultr.com/?ref=8506759-6G">
					<img class="img-fluid"
						 alt="Vultr Banner Ad"
						 src="https://www.vultr.com/media/banners/banner_628x628.png">
				</a>
			</div>
			<h2 class="mb-3">
				<% if (category === "courses") { %>
				Courses
				<% } else { %>
				Related courses
				<% } %>
			</h2>
			<ul class="nav flex-column mb-5">
				<% for (post of collections[category]) { %>
					<li>
						<% if (page.url === post.url) { %>
							<%- post.data.pageTitle %>
						<% } else { %>
							<a href="<%- post.url %>"><%- post.data.pageTitle %></a>
						<% } %>
					</li>
				<% } %>
			</ul>
		</aside>
	</div>
</div>

<footer class="w-100 p-3 mt-5 text-center bg-primary text-white">
	<p>&copy;2020 Christian LeVesque. All rights reserved.</p>
	<p>This site was built using open source software. A list of top-level dependencies can be found on my <a class="text-white text-decoration-underline"
																											  href="/credits">credits page</a></p>
</footer>

</body>
</html>