<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible"
		  content="IE=edge"/>
	<meta name="viewport"
		  content="width=device-width,initial-scale=1.0"/>
	<meta name="description"
		  content="<%- blurb %>"/>

	<%
	const seoData = {
		pageTitle,
		blurb,
		headerImage,
		url: page.url,
		siteName: metadata.title,
		twitterHandle: metadata.twitterHandle,
		author
	}
	%>
	<%- include('seo/og', seoData) %>
	<%- include('seo/twitter', seoData) %>
	<%- include('seo/facebook', {facebookAppId: metadata.facebookAppId}) %>

	<link rel="preconnect"
		  href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap"
		  rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async
			src="https://www.googletagmanager.com/gtag/js?id=G-FHKV01TBVC"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'G-FHKV01TBVC');
	</script>
	<%- include('webpack') %>
	<title><%= pageTitle %> | <%= metadata.title %></title>
</head>
<body class="site">

<%- include('widgets/main-menu') %>

<div class="site__container">
	<%- include('widgets/main-content') %>
	<%- include('widgets/sidebar') %>
</div>

<%- include('widgets/footer') %>

</body>
</html>