<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible"
		  content="IE=edge"/>
	<meta name="viewport"
		  content="width=device-width,initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
    <%- include('webpack') %>
	<title><%= pageTitle %> | <%= metadata.title %></title>
</head>
<body>
<nav class="navbar">
    <a href="/" class="navbar__brand">Christian LeVesque</a>
    <ul class="navbar__link-container">
        <% for (let link of metadata.links) { %>
            <li class="navbar__link">
                <a href="<%= link.href %>"><%= link.name %></a>
            </li>
        <% } %>
    </ul>
</nav>

<%- content %>

<footer class="footer footer--primary">
    &copy;2020 Christian LeVesque. All rights reserved.
</footer>
</body>
</html>