<header id="featuredPosts" class="carousel slide w-100 w-lg-90 w-xl-75 mx-auto my-5" data-ride="carousel">
	<% let postIndex = 0 %>
	<ol class="carousel-indicators">
		<% while (postIndex < posts.length) { %>
			<li data-target="#featuredPosts" data-slide-to="<%- postIndex %>" <% if (postIndex === 0) { %> class="active" <% } %>></li>
			<% postIndex++ %>
		<% } %>
	</ol>
	<section class="carousel-inner">
		<%
		postIndex = 0
		posts.forEach(post => {
		%>
		<article class="carousel-item <% if (postIndex === 0) { %> active <% } %>">
			<img src="<%- post.data.headerImage %>" alt="Post header image" class="d-block img-fluid" />
			<section class="carousel-caption bg-dark p-1">
				<h2 class="h4"><%- post.data.pageTitle %></h2>
				<p><span  class="d-none d-md-block small"><%- post.data.blurb %></span> <a class="stretched-link text-accent" href="<%- post.url %>"><span class="d-none d-md-block small">Read more</span></a></p>
			</section>
		</article>
		<%
			postIndex++
		})
		%>
	</section>
	<a class="carousel-control-prev" href="#featuredPosts" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon-wrapper d-flex bg-dark border-dark rounded-circle">
			<span class="carousel-control-prev-icon m-auto bg-dark border-dark rounded-circle" aria-hidden="true"></span>
		</span>

		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#featuredPosts" role="button" data-slide="next">
		<span class="carousel-control-prev-icon-wrapper d-flex bg-dark border-dark rounded-circle">
			<span class="carousel-control-next-icon m-auto bg-dark border-dark rounded-circle" aria-hidden="true"></span>
		</span>
		<span class="sr-only">Next</span>
	</a>
</header>