<main class="site__main-content">
	<article class="post">
		<% if (page.url !== "/") { %>
			<h1 class=""><%- pageTitle %></h1>
		<% } %>
		<% if (author !== "none") { %>
			<p class="post__author"> by <a href="<%- authorUrl %>"><%- author %></a></p>
		<% } %>
		<% if (headerImage !== "none") { %>
			<div class="post__header-image-container">
				<img src="<%- headerImage %>"
					 class="post__header-image"
					 alt="Blog header image"/>
			</div>
			<%
 			const social = {
 				url: page.url,
				title: pageTitle
			}
 			%>
			<%- include('social-share', social) %>
		<% } %>
		<% if (gitUrl !== "none") { %>
			<p class="post__intro-message">
				<em>(The current state of the application code can be found on <a href="<%- gitUrl %>" target="_blank">GitHub</a>. You can verify your code if you've been following along, or if you're just joining in, you can get the current state of the code and follow along from here.)</em>
			</p>
		<% } %>
		<%- content %>
		<% if (nextLinkCategory !== "none") { %>
			<% const courseList = collections[nextLinkCategory] %>
			<% const currentCourseIndex = courseList.findIndex(c => c.url === page.url) %>
			<% if (currentCourseIndex > -1) { %>
				<nav class="post__post-nav">
					<% const isFirstCourse = currentCourseIndex === 0 %>
					<% const isLastCourse = currentCourseIndex === courseList.length - 1 %>
					<div class="post__post-nav-post post__previous-post">
						<% if (!isFirstCourse) { %>
							<div class="post__course-container">
								<h2 class="post__course-title">Previous</h2>
								<%- include('course-card', {course: courseList[currentCourseIndex - 1]}) %>
							</div>
						<% } %>
					</div>
					<div class="post__post-nav-post post__next-post">
						<% if (!isLastCourse) { %>
							<div class="post__course-container">
								<h2 class="post__course-title">Up next</h2>
								<%- include('course-card', {course: courseList[currentCourseIndex + 1]}) %>
							</div>
						<% } %>
					</div>
				</nav>
			<% } %>
		<% } %>
	</article>
</main>