<main class="col-12 col-lg-7">
	<div class="row">
		<% if (page.url !== "/") { %>
			<h1 class="mt-4 col-12"><%- pageTitle %></h1>
		<% } %>
		<% if (headerImage !== "none") { %>
			<div class="col-12">
				<img src="<%- headerImage %>"
					 class="img-fluid d-block mx-auto my-3"
					 alt="Blog header image"/>
			</div>
		<% } %>
		<%- content %>
		<% if (nextLinkCategory !== "none") { %>
			<% const courseList = collections[nextLinkCategory] %>
			<% const currentCourseIndex = courseList.findIndex(c => c.url === page.url) %>
			<% if (currentCourseIndex > -1) { %>
				<div class="col-12">
					<div class="row">
						<% const isFirstCourse = currentCourseIndex === 0 %>
						<% const isLastCourse = currentCourseIndex === courseList.length - 1 %>
						<div class="col-12 col-md-6 px-3 mt-3">
							<% if (!isFirstCourse) { %>
								<% const previousCourse = courseList[currentCourseIndex - 1] %>
								<a href="<%- previousCourse.url %>">
									<article class="card w-100 h-100">
										<section class="card-body">
											<h4 class="card-title">Previous</h4>
											<p class="card-text"><%- previousCourse.data.pageTitle %></p>
										</section>
									</article>
								</a>
							<% } %>
						</div>
						<div class="col-12 col-md-6 px-3 mt-3">
							<% if (!isLastCourse) { %>
								<% const nextCourse = courseList[currentCourseIndex + 1] %>
								<a href="<%- nextCourse.url %>">
									<article class="card w-100 h-100">
										<section class="card-body">
											<h4 class="card-title">Up Next</h4>
											<p class="card-text"><%- nextCourse.data.pageTitle %></p>
										</section>
									</article>
								</a>
							<% } %>
						</div>
					</div>
				</div>
			<% } %>
		<% } %>
	</div>
</main>