<aside class="site__sidebar">
	<article class="about">
		<header class="about__profile">
			<img class="about__profile-pic"
				 src="/images/christian.jpeg"
				 alt="Christian LeVesque"/>
			<h2 class="about__profile-heading">Hi, I'm Christian!</h2>
		</header>
		<p class="about__summary">
			Welcome to my little slice of the internet. It's mainly full of poor design and cliché stock images, but you might just learn something while you're here. By the way, <a href="https://github.com/christianlevesque/christianlevesque.io" target="_blank">this blog is open source!</a>
		</p>
	</article>
	<article class="about">
		<h2 class="about__profile-heading">Let's connect!</h2>
		<ul class="about__social-media">
			<% for (let link of metadata.socialLinks) { %>
				<li class="about__social-media-link">
					<a href="<%- link.url %>" target="_blank">
						<i class="fab <%- link.icon %>"></i>
					</a>
				</li>
			<% } %>
		</ul>
	</article>
	<nav class="course-list-nav">
		<h2 class="about__profile-heading">
			<% if (category === "courses") { %>
				Courses
			<% } else { %>
				Related content
			<% } %>
		</h2>
		<<%- category === "courses" ? "ul" : "ol" %> class=".course-list-nav__links">
		<% for (post of collections[category]) { %>
			<li class="course-list-nav__link">
				<% if (page.url === post.url) { %>
					<%- post.data.pageTitle %>
				<% } else { %>
					<a href="<%- post.url %>"><%- post.data.pageTitle %></a>
				<% } %>
			</li>
		<% } %>
	</<%- category === "courses" ? "ul" : "ol" %>>
	</nav>
</aside>