<aside class="site__sidebar">
	<article class="about">
		<header class="about__profile">
			<img class="about__profile-pic"
				 src="/images/christian.jpeg"
				 alt="Christian LeVesque"/>
			<h2 class="about__profile-heading">Hi, I'm Christian!</h2>
		</header>
		<p class="about__summary">
			Welcome to my little slice of the internet. It's mostly just inane rambling, but you might actually learn something while you're here. By the way, <a href="https://github.com/christianlevesque/levesque.dev" target="_blank">this blog is open source!</a>
		</p>
	</article>
	<article class="about">
		<h2 class="about__profile-heading">Let's connect!</h2>
		<ul class="about__social-media">
			{{#each metadata.socialLinks }}
				<li class="about__social-media-link">
					<a href="{{ this.url }}" target="_blank">
						<i class="fab {{ this.icon }}"></i>
					</a>
				</li>
			{{/each}}
		</ul>
	</article>
	<nav class="course-list-nav">
		<h2 class="about__profile-heading">
			{{#if (eq category "courses")}}
				Courses
			{{else}}
				Related content
			{{/if}}
		</h2>
		<{{#if (eq category "courses")}}ul{{else}}ol{{/if}} class="course-list-nav__links">
			{{#each (lookup collections category) }}
				<li class="course-list-nav__link">
					{{#if (eq ../page.url this.url)}}
						{{ this.data.pageTitle }}
					{{else}}
						<a href="{{ this.url }}">{{ this.data.pageTitle }}</a>
					{{/if}}
				</li>
			{{/each}}
		</{{#if (eq category "courses")}}ul{{else}}ol{{/if}}>
	</nav>
</aside>